*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

:root {
  --background-color: #272727;
}

body {
  background-color: var(--background-color);
}

.in {
  width: 500px;
  height: 500px;
  color: #8a8a8a;
}

.word,
.but,
.in {
  background-color: var(--background-color);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 7px;
}